@font-face {
   font-family: 'Poiret One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/Mobirise/business/fonts/Poiret One/regular.ttf') format('truetype');
}
