<!DOCTYPE html>
<html lang="en"   >
<head>
    {{ partial "meta.html" . }}
    {{ partial "js_css.html" . }}
   
</head>
<body>
{{ partial "gtm.html" . }}
{{ partial "menu.html" . }}  

<section data-bs-version="5.1" class="header1 cid-shq4eo1coz mbr-fullscreen" id="header1-1">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="mbr-text mbr-fonts-style display-5">SUSTAINABLE SUCCESS</p>
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>STARTING FROM HAPPY WORKFORCE</strong></h1>
                
               
                <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="contact.html">EXPLORE NOW</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-smOqYMhghG" id="features">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">Anphabe - Pioneer consulting firm providing Employer Brand &amp; Happy Workforce solutions</h4>
            
        </div>
            <div class="animation__background">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
                <div class="circle5"></div>
                <div class="hexagon"></div>
                
            </div>
        
            <div class="container">
              <div class="row mt-5">
                  <div class="card сol-12 col-md-6 col-lg-4">
                      <div class="card-wrapper">
                          <div class="img-wrapper">
                              <a href="contact.html"><img src="/assets/images/21-1.jpg" alt="HR Research &amp; Consultancy"></a>
                              <div class="text-wrap">                                  
                                  <h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-7">With expertise in HR surveys, analyses of talent &amp; workplace indicators, Anphabe helps businesses optimize their investment &amp; people management.</h4>
                              </div>
                          </div>
                          <div class="card-content">
                              <h6 class="item-subtitle mbr-fonts-style mt-1 display-4"><a href="contact.html" class="text-primary">HR research &amp; Consultancy</a></h6>                              
                          </div>
                      </div>
                  </div>

                  <div class="card сol-12 col-md-6 col-lg-4">
                      <div class="card-wrapper">
                          <div class="img-wrapper">
                              <a href="contact.html"><img src="/assets/images/22-1.jpg" alt="Employer Brand Activation"></a>
                              <div class="text-wrap">                                  
                                  <h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-7">Utilizing our strength &amp; market insights in employer branding, Anphabe provides strategic consultancy, develops creative messages &amp; memorable experiences, helps businesses attract talents &amp; engage employees.</h4>
                              </div>
                          </div>
                          <div class="card-content">
                              <h6 class="item-subtitle mbr-fonts-style mt-1 display-4"><a href="contact.html" class="text-primary">Employer Brand Activation</a></h6>                              
                          </div>
                      </div>
                  </div>

                  <div class="card сol-12 col-md-6 col-lg-4">
                      <div class="card-wrapper">
                          <div class="img-wrapper">
                              <a href="contact.html"><img src="/assets/images/23-1.jpg" alt="Talent Acquisition &amp; Engagement"></a>
                              <div class="text-wrap">                                
                                  <h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-7">Partnering with LinkedIn, Facebook &amp; Talegent, Anphabe offers a full range of solutions to help businesses recruit talents, communicate &amp; engage internally effectively.</h4>
                              </div>
                          </div>
                          <div class="card-content">
                              <h6 class="item-subtitle mbr-fonts-style mt-1 display-4"><a href="contact.html" class="text-primary">Talent Acquisition &amp; Engagement</a></h6>                              
                          </div>
                      </div>
                  </div>

                  <div class="card сol-12 col-md-6 col-lg-4">
                      <div class="card-wrapper">
                          <div class="img-wrapper">
                              <a href="contact.html"><img src="/assets/images/24-1.jpg" alt="Happy Workforce Training"></a>
                              <div class="text-wrap">                                  
                                  <h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-7">Through leadership events, seminars &amp; sharing channels, Anphabe promotes positive changes in the perception &amp; action of Vietnam HR community &amp; employees.</h4>
                              </div>
                          </div>
                          <div class="card-content">
                              <h6 class="item-subtitle mbr-fonts-style mt-1 display-4"><p><a href="contact.html" class="text-primary"></a><a href="contact.html" class="text-primary">Happy Workforce Training</a></p></h6>                              
                          </div>
                      </div>
                  </div>

                  <div class="card сol-12 col-md-6 col-lg-4">
                      <div class="card-wrapper">
                          <div class="img-wrapper">
                              <a href="https://www.anphabe.com/" target="_blank"><img src="/assets/images/25-1.jpg" alt="Networking community for working professionals - Anphabe"></a>
                              <div class="text-wrap">                                  
                                  <h4 class="card-title align-center mbr-semibold mbr-black mbr-fonts-style display-7">A platform to share knowledge, experience &amp; career opportunities, connecting working professionals in Vietnam.</h4>
                              </div>
                          </div>
                          <div class="card-content">
                              <h6 class="item-subtitle mbr-fonts-style mt-1 display-4">Networking community for professionals</h6>                              
                          </div>
                      </div>
                  </div>

              </div>
          </div>

        
    
</div></section>


    <section data-bs-version="5.1" class="features15 cid-shrgJugXo6" id="partnerships">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
  
    <div class="box"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5">Pioneering in partnership with world's leading partners in human resource solutions</h4>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7 subtitle-text"><em>Anphabe is proud of the strategic partnership with leading technological companies, offering solutions for human resource management, applying AI, behavioral science &amp; big data.</em></h5>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box card__block">
                        <div class="item-img"><img src="/assets/images/workplace-1.png" alt="Workplace" title=""></div>                        
                        <p class="card__text mbr-fonts-style display-4">An internal communication &amp; engagement platform, connects employees &amp; boosts collaboration, fundamentally changes how teams work &amp; drives innovations.
                        </p>
                        <a class="card__button text-primary mbr-fonts-style display-7" href="https://workplace.anphabe.com/" target="_blank">Read more</a><span class="mobi-mbri mobi-mbri-right mbr-iconfont" style="color: rgb(0, 86, 112);"></span>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box card__block">
                        <div class="item-img"><img src="/assets/images/linkedin-4.png" alt="Workplace" title=""></div>                        
                        <p class="card__text mbr-fonts-style display-4"> The world's largest professional network connects more than 660 million members with diverse solutions for Recruitment, Employer Branding &amp; Talent Trends.</p>
                        <a class="card__button text-primary mbr-fonts-style display-7" href="contact.html">Read more</a><span class="mobi-mbri mobi-mbri-right mbr-iconfont" style="color: rgb(0, 86, 112);"></span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    



</section>

<section data-bs-version="5.1" class="testimonails3 carousel slide testimonials-slider cid-snQrbfy1pi" data-interval="false" data-bs-interval="false" id="testimonials">

    

    

    <div class="text-center">
        

        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000">
            <div class="carousel-inner">
                
                
                
                
            

            
        <div class="carousel-item">
                    <div class="user row align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="user_image">
                                <img src="/assets/images/wilf-blackburn.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 align-left pad-mobile col-lg-4">
                            <div class="user_text mb-4">
                                <p class="mbr-fonts-style display-7"><em>The commitment of Anphabe team has been the key to generate the mutual trust &amp; one of the main reasons why we keep relying on their Employer Value Propositioning services in long term. Thanks to that effort, we have been able to engage our employees better &amp; create a happier working environment.</em><br></p>
                            </div>
                            <div class="user_name mbr-fonts-style mb-2 display-4"><strong>Mr. WILF BLACKBURN</strong></div>
                            <div class="user_desk mbr-fonts-style display-4">CEO Prudential Singapore&nbsp; (Former CEO Prudential Vietnam)</div>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="user row align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="user_image">
                                <img src="/assets/images/tamtrang.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 align-left pad-mobile col-lg-4">
                            <div class="user_text mb-4">
                                <p class="mbr-fonts-style display-7"><em>Having Anphabe as Unilever strategic EB partner, we have received great supports from a passionate team with professionalism &amp; high sense of collaboration. Especially the CEO - Thanh Nguyen – who is famous with her unique Marketing-HR expertise &amp; positive passion for people growth, has contributed greatly to our great achievements.</em><br></p>
                            </div>
                            <div class="user_name mbr-fonts-style mb-2 display-4"><strong>Mrs. NGUYEN TAM TRANG</strong></div>
                            <div class="user_desk mbr-fonts-style display-4">Former HR Vice President - Unilever Vietnam</div>
                        </div>
                    </div>
                </div><div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev">
                    <span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont"></span>
                    <span class="sr-only visually-hidden">Previous</span>
                </a>

                <a class="carousel-control-next" role="button" data-slide="next" data-bs-slide="next">
                    <span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont"></span>
                    <span class="sr-only visually-hidden">Next</span>
                </a>
            </div></div>
    </div>
</div></section>

<section class="features3 cid-snPEwaaEfl" id="resources">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">FEATURED STORIES</h4>
            
        </div>
        <div class="row mt-4">
            {{ partial "featured_post.html" . }}
        </div>
    </div>
</section>

<section class="clients1 cid-shqFLeRitl" id="clients">
    
    <div class="images-container container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">OUR CLIENTS</h3>
            
            
        </div>
        
        <div class="row mt-4">
            <div class="col-md-3 card">
                <img src="/assets/images/abbott-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/3-nestle-vietnam-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/7-suntory-pepsico-viet-nam-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/10-samsung-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/11-vingroup-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/17-masan-group-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/21-mobifone-logo-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/22-honda-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/24-techcombank-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/49-kpmg-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/75-cargill-vietnam-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/89-insee-vietnam-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/502px-piaggio-logo.svg-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/5856a7bb4f6ae202fedf276b-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/bosch-logo-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/datvietvac-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/dksh-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/google-logo-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/hsbs-logo-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/logo-viettiel.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/mercedes-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/nash-tech-logo-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/pnj-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/prudential-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/saint-gobain-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/sanofi-vietnam-240x158.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="/assets/images/vietjet-air-240x158.png" alt="">
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" .}} 
    </body>
</html>