<!DOCTYPE html>
<html lang="en"   >
<head>
    <meta http-equiv="refresh" content="0;URL='https://www.anphabe.com/vi/lien-he.html'" />
    {{ partial "meta.html" . }}
    {{ partial "js_css.html" . }}
   
</head>
<body>
{{ partial "gtm.html" . }}
{{ partial "menu.html" . }}  
  
<section data-bs-version="5.1" class="form1 cid-snR1bALdSG mbr-fullscreen mbr-parallax-background" id="form1-1s">
    

    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(255, 255, 255);"></div>
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form">
                
                {{ partial "contact_form.en.html" . }}
                
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" .}} 
  </body>
</html>