<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image:src" content="assets/images/index-meta.jpg">
    <meta property="og:image" content="assets/images/index-meta.jpg">
    <meta name="twitter:title" content="Giải pháp Thương hiệu Nhà tuyển dụng &amp; Nơi làm việc hạnh phúc | Anphabe">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <meta name="description" content="Anphabe – Công ty tư vấn tiên phong về các giải pháp toàn diện xây dựng Nguồn nhân lực Hạnh phúc và Thương hiệu Nhà tuyển dụng hấp dẫn.">
    
    
    <title>Giải pháp Thương hiệu Nhà tuyển dụng &amp; Nơi làm việc hạnh phúc | Anphabe</title>
    <link rel="stylesheet" href="assets/themify/css/themify-icons.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
    
    
        <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TXVFM6K');</script>
  <!-- End Google Tag Manager -->
  <script>
  function keep_url_query(){
      var url = window.location.href;
      var index = url.indexOf("?");
  
      if(index < 0) {
          return;
      }
      var query = url.substring(index);
      
      (function(query) {
      var atags = document.getElementsByTagName("a"); 
      var i;
      for (i = 0; i < atags.length; i++) {
          atags[i].href = atags[i].href+query;  
      //    atags[i].classList.add("d-inline-block");
      } 
          
      })(query);
  }
  
  if (
      document.readyState === "complete" ||
      (document.readyState !== "loading" && !document.documentElement.doScroll)
  ) {
    keep_url_query();
  } else {
    document.addEventListener("DOMContentLoaded", keep_url_query);
  }
  
  </script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
  </head>